body {
    font-family: Arial, sans-serif;
    background-image: url('fcuObs5.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: rgba(44, 62, 80, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    width: 100%;
}

.card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flagImage {
    width: 400px;
    height: 300px;
    object-fit: contain; 
    margin-bottom: 20px;
}

#options button {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #7f8c8d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#options button:hover {
    background-color: #95a5a6;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#nextButton {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#nextButton:hover {
    background-color: #3498db;
}